html{
    background-color:#427D9D;
}
.add{
    color: white;
    text-align: center;

}
.delete{
    color: white;
    text-align: center;
}
#Fname{
    margin: 10px;
}
#Lname{
    margin: 10px;
}
#DFname{
    margin: 10px;

}
#DLname{
    margin: 10px;

}
h1{
    background-color: #164863;
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;
    color: aliceblue;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding-top: 30px;
    padding-bottom: 60px;

}
button{
    background-color:lightblue;
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    border-radius: 12px;
    
}
label{
    color: white;
    font-family: sans-serif;
}
input[name]{
    border: 1px solid black;
    border-radius: 5px;
}
#subButton{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
button:hover {
    cursor: pointer;
    background-color: #164863;
  }
.stamp{
    background-color: #9BBEC8;
    text-align: center;
    width: 100%;
    height: max-content;
    padding: 25px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 170px;    
}
