h1{
    text-align: center;

}
#add{
    padding: 200px;
}
#delete{
    padding: 200px;
    margin-top: -290px; 
}
#button{
    border-radius: 50px;
    display: flex;
    justify-content: center;

    
}
#button:hover{
    background-color:aquamarine;
}
#display{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-left: 650px;
}
